<h1>Balotaje 2015</h1>
<p>
  Convocatoria abierta para controlar la carga de los resultados provisionales
  de la segunda vuelta de las Elecciones Nacionales en Argentina, 22 de
  noviembre de 2015.
</p>
<h2>Instrucciones</h2>
<ol>
  <li>Entrá con <a href="/auth/twitter">Twitter</a> o <a href="/auth/facebook">Facebook</a> y aceptá la confirmación</li>
  <li>La aplicación te presentará un telegrama y datos cargados</li>
  <li>Si los datos coinciden, marcá el botón <code>✓</code></li>
  <li>Si los datos no coinciden, marcá el botón <code>✗</code></li>
  <li>La aplicación te presentará otro telegrama y así...</li>
  <li>Si te equivocaste, podés volver atrás y marcar</li>
  <li>Si marcás varias veces, solo cuenta una</li>
</ol>
<h2>Resultados parciales</h2>
<ul class="counter">
  <li class="progress_as_percentage">Progreso: <%= data_tag progress_as_percentage %></li>
  <li>Chequeados: <%= data_tag number_with_delimiter(counter.checked_places) %> de <%= data_tag number_with_delimiter(counter.places) %></li>
  <li><%= data_tag number_with_delimiter(counter.ok_places) %> buenos y <%= data_tag number_with_delimiter(counter.not_places) %> malos</li>
</ul>
<h2>Aclaración</h2>
<p>
  Esta aplicación persigue una curiosidad estadística, no apoya a ningún partido
  político ni persigue desautorizar el trabajo de la Dirección Nacional
  Electoral. Los datos de la aplicación son públicos y fueron extraídos del
  sitio de <a href="http://www.resultados.gob.ar/inicio.htm">resultados de las
  elecciones</a>. El ingreso se pide con un mínimo de permisos, para limitar el
  acceso a robots y una desviación en las observaciones.
</p>
<h2>Código fuente y datos abiertos</h2>
<p>
  El código completo de esta aplicación está <a
  href="https://github.com/xymbol/checkup">disponible</a> y liberado con una
  licencia de software libre. Si querés acceso a los datos de los chequeos, por
  favor escribime.
</p>
<h2>Contacto</h2>
<p>
  Por cualquier consulta técnica, inquietud o falla, escribime a
  <a href="https://twitter.com/691hxn">@691hxn</a> en Twitter.
</p>
