<!-- Fixed navbar -->
  <% unless current_user %>
    <nav class="navbar clearfix navbar-fixed-top">
  <% else %>
  <nav class="navbar navbar-default">
    <% end %>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% unless current_user %>
          <a class="navbar-brand" href="/"><%= image_tag 'logo.png', size: "200x50" %></a>
          <% else %>
          <a class="navbar-brand" href="/"><%= image_tag 'logo_log.png', size: "200x50" %></a>
          <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% unless current_user %>
            <li><a href="/auth/facebook">Ingresar con Facebook</a></li>
            <li><a href="/auth/twitter">Ingresar con Twitter</a></li>
            <% else %>
            <li><%= data_tag current_user.display_name %></li>
            <li>Tenes <%= data_tag current_user.checks.count %> chequeos</li>
            <li><%= link_to "Salir", signout_url %></li>
          <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
