<div class="module_left">
  <span class="text-total">Completado <span class="total"><%= data_tag progress_as_percentage %></span> del total.</span>
</div>
<div class="module">
  <div class="check">
    <%= button_to "✓", [:ok, @place], method: :patch, class: "ok" %>
    <%= button_to "✗", [:not, @place], method: :patch, class: "not" %>
  </div>
  <ul class="counter">
    <li>Chequeadas <%= link_to number_with_delimiter(counter.checks), checked_places_url, class: "data" %> de <%= link_to number_with_delimiter(counter.places), places_path, class: "data" %> mesas</li>
    <li>En total <%= link_to number_with_delimiter(counter.ok_checks), ok_places_url, class: "data" %> buenos y <%= link_to number_with_delimiter(counter.not_checks), not_places_url, class: "data" %> malos</li>
  </ul>
</div>
<div class="place_wrapper">
  <iframe src="<%= @place.url %>" frameborder="0" class="place"></iframe>
  <% if @place.checked? %>
    <h3 class="message">Chequeos anteriores</h3>
  <% end %>
</div>
