<div class="module">
  <div class="check">
    <%= form_tag [@place, :check], method: :patch do %>
      <%= button_tag "✓", name: "value", value: "ok" %>
      <%= button_tag "✗", name: "value", value: "not" %>
    <% end %>
  </div>
  <ul class="counter">
    <li class="progress_as_percentage">Progreso: <%= data_tag progress_as_percentage %></li>
    <li>Chequeados: <%= link_to number_with_delimiter(counter.checked_places), checked_places_url, class: "data" %> de <%= link_to number_with_delimiter(counter.places), places_path, class: "data" %></li>
    <li><%= link_to number_with_delimiter(counter.ok_places), ok_places_url, class: "data" %> buenos y <%= link_to number_with_delimiter(counter.not_places), not_places_url, class: "data" %> malos</li>
  </ul>
</div>
<div class="place_wrapper">
  <iframe src="<%= @place.url %>" frameborder="0" class="place"></iframe>
  <% if @place.checked? %>
    <h3 class="message">Chequeos anteriores</h3>
  <% end %>
</div>
