<!DOCTYPE html>
<html lang="es-ar">
<head>
  <title>Balotaje 2015 - Argentina</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "tracking" unless Rails.env.development? %>
  <%= render "nav" %>

  <%= yield %>
</body>
</html>
